@media screen and (max-width: 480px) {
  aside {
    padding: 0;
    width: 100%;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }

  .logo {
    align-self: center;
  }

  main {
    max-width: 100%;
  }

  .cards {
    justify-content: center;
  }

  .card {
    flex-basis: 80%;
    min-height: 375px;
  }

  .card-image {
    height: 200px;
  }

  .card-title {
    font-size: 22px;
  }

  .card-description {
    font-size: 18px;
    line-height: 20px;
    flex: 0 1 auto;
  }

  .card-footer {
    font-size: 16px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    /* min-width: 561px; */
    max-width: 545px;
  }

  aside {
    max-width: 100%;
    margin: 0 auto 30px 0;
  }

  .logo {
    margin: 0;
  }

  .aside-item {
    /* width: 100px; */
  }

  /* .aside-item:last-child{
        width: 41px;
    } */

  .item-link {
    background: none;
  }

  .item-link>span {
    margin: 0 auto;
    align-self: center;
  }

  main {
    max-width: 545px;
    margin: 0 auto;
  }

  .banner {
    height: 100%;
  }

  .banner-wrapper {
    height: 353px;
  }

  .banner-image {
    height: 353px;
  }

  .banner-text {
    bottom: 0;
    width: 100%;
  }

  .banner-header {
    width: 100%;
    opacity: 0.6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: start;
  }

  .banner-description {
    width: 100%;
    text-align: start;
    padding-left: 25px;
  }

  .tabs {
    display: none;
  }

  .subscribe {
    flex-wrap: wrap;
  }

  .subscribe-text {
    margin-right: 0;
  }

  form {
    margin: 15px 0;
    width: 100%;
  }

  input {
    width: 100%;
  }

  .card {
    flex-basis: 45%;
    margin-bottom: 15px;
    min-height: 336px;
  }

  .card-image {
    height: 150px;
  }

  .card-description {
    flex: 1 1 auto;
  }

  footer {
    max-width: 560px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 710px;
    flex-direction: column;
  }

  aside {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
  }

  .aside-menu {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  .aside-item {
    /* width: 100px; */
    margin: 0;
  }

  .item-link {
    height: 62px;
    background-position: top center;
    flex: 1 1 auto;
  }

  .item-link>span {
    margin: 0 auto;
    align-self: flex-end;
  }

  .aside-tweet {
    display: none;
  }

  .aside-friends {
    display: none;
  }

  main {
    max-width: 710px;
  }

  footer {
    max-width: 716px;
  }
}
@media screen and (max-width: 1176px) {
  .container {
    max-width: 896px;
  }

  main {
    max-width: 712px;
  }

  .banner {
    width: 100%;
  }

  .tab {
    border-right: 1px solid #d6e6e6;
  }

  .tab-title {
    padding: 10px 0 11px 0;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
  }

  .tab-description {
    display: none;
  }

  .card {
    flex-basis: 159px;
  }

  .card-image {
    height: 113px;
  }

  footer {
    max-width: 896px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-style: normal;
  color: #000;
  /* min-width: 700px; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

/* container */

.container {
  max-width: 1080px;
  display: flex;
  margin: 46px auto 0 auto;
}

/* aside */

aside {
  margin-right: 44px;
  width: 140px;
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 0 10px;
}

.aside-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.item-link {
  vertical-align: 13px;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #34ACA7;
  display: flex;
  align-items: center;
  height: 32px;
}

.taste {
  background: url("../icons/tastemakers.svg") no-repeat;
}

.blog {
  background: url("../icons/blog.svg") no-repeat;
}

.list {
  background: url("../icons/theAList.svg") no-repeat;
}

.contribure {
  background: url("../icons/contribure.svg") no-repeat;
}

.about {
  background: url("../icons/about.svg") no-repeat;
}

.item-link > span {
  margin-left: 45px;
}

.aside-title {
  padding: 5px 0;
  font-family: Verdana;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  border-bottom: 1px dashed #E5E5E5;
  margin-bottom: 10px;
}

.button-tweet {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #34ACA7;
}

.button-tweet>img {
  padding: 7px;
}

.aside-text {
  font-style: italic;
  font-size: 10px;
  line-height: 19px;
  padding-bottom: 15px;
}

main {
  max-width: 896px;
}

/* banner */

.banner {
  width: 896px;
  /* height: 445px; */
  margin-bottom: 30px;
}

.banner-wrapper {
  height: 445px;
  position: relative;
}

.banner-image {
  width: 100%;
  height: 445px;
  object-fit: cover;
}

.banner-header {
  width: 272px;
  height: 47px;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  padding: 15px 0;
  background-color: #ffffff;
}

.banner-description {
  width: 487px;
  height: 42px;
  font-style: italic;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  padding: 14px 0;
}

.banner-text {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 90px;
}

/* tabs */

.tabs {
  display: flex;
  flex-wrap: nowrap;
  color: #34ACA7;
}

.tab {
  flex-basis: 25%;
  background-color: #EFF8F7;
  border-left: 1px solid #F9FBFB;
}

.tab>a {
  color: #34ACA7;
}

.tab-title {
  font-size: 18px;
  line-height: 18px;
  padding: 26px 0 0 20px;
}

.tab-description {
  font-style: italic;
  font-size: 10px;
  line-height: 19px;
  padding: 0 0 22px 20px;
}

.active {
  background-color: #D9EFEC;
  border: none;
}

/* subscribe */

.subscribe {
  border-top: 1px dashed #E5E5E5;
  border-bottom: 1px dashed #E5E5E5;
  display: flex;
  align-items: center;
  padding: 10px 18px;
  margin-bottom: 29px;
}

.subscribe-description {
  display: flex;
}

form {
  display: flex;
}

.subscribe-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  margin: 0 24px 0 16px;
}

input {
  border: 1px solid #E5E5E5;
}

input:placeholder-shown {
  font-size: 10px;
  line-height: 10px;
  padding: 6px;
}

.subscribe-button {
  background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  font-size: 10px;
  line-height: 10px;
  padding: 6px 18px;
  margin-left: 18px;
}

/* cards */

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 207px;
}

.card>a {
  color: #34ACA7;
}

.card:last-child {
  margin-right: 0;
}

.card-image {
  border: 1px solid #E5E5E5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  height: 143px;
  margin-bottom: 11px;
}

.card-image>img {
  border: 11px solid #FFFFFF;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-title {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #34ACA7;
  margin-bottom: 9px;
}

.card-description {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 11px;
}

.card-footer {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #E5E5E5;
}

.card-read {
  color: #34ACA7;
}

footer {
  border-top: 2px solid #E5E5E5;
  max-width: 1088px;
  display: flex;
  margin: 30px auto 0 auto;
  justify-content: space-between;
  align-items: center;
}

.footer-links>a {
  font-size: 12px;
  line-height: 12px;
  color: #34ACA7;
  padding: 4px;
  padding-right: 6px;
  background: url("../icons/bor-right.svg") no-repeat center right;
}

.footer-links>a:last-of-type {
  background: none;
}

.footer-links>p {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #E5E5E5;
  margin-top: 5px;
}

.footer-icon {
  margin: 25px 0;
}

.footer-icon>a {
  margin-right: 4px;
}