footer {
	border-top: 2px solid #E5E5E5;
	max-width: 1088px;
	display: flex;
	margin: 30px auto 0 auto;
	justify-content: space-between;
	align-items: center;
}
.footer-links {
	>a {
		font-size: 12px;
		line-height: 12px;
		color: #34ACA7;
		padding: 4px;
		padding-right: 6px;
		background: url(../icons/bor-right.svg) no-repeat center right;
		&:last-of-type {
			background: none;
		}
	}
	>p {
		font-size: 12px;
		line-height: 12px;
		letter-spacing: -0.02em;
		color: #E5E5E5;
		margin-top: 5px;
	}
}
.footer-icon {
	margin: 25px 0;
	>a {
		margin-right: 4px;
	}
}