@media screen and (max-width: 992px) {
	.container {
		max-width: 710px;
		flex-direction: column;
	}
	aside {
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 30px;
		width: 100%;
	}
	.aside-menu {
		display: flex;
		justify-content: space-between;
		flex: 1 1 auto;
	}
	.aside-item {
		margin: 0;
	}
	.item-link {
		height: 62px;
		background-position: top center;
		flex: 1 1 auto;
		>span {
			margin: 0 auto;
			align-self: flex-end;
		}
	}
	.aside-tweet {
		display: none;
	}
	.aside-friends {
		display: none;
	}
	main {
		max-width: 710px;
	}
	footer {
		max-width: 716px;
	}
}
