@media screen and (max-width: 480px){
    aside{
        padding:0 ;
        width: 100%;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .logo{
        align-self: center;
    }
    main{
        max-width: 100%;
    }
    .cards{
        justify-content: center;
    }
    .card{
        flex-basis: 80%;
        min-height: 375px;
    }
    .card-image{
        height: 200px;
    }
    .card-title{
        font-size: 22px;
    }
    .card-description{
        font-size: 18px;
        line-height: 20px;
        flex:0 1 auto;
    }
    .card-footer{
        font-size: 16px;
        margin-top: 15px;
    }
    
}